<h1>Users who sent a trip Request.</h1>
<table border="1">
  <tr>
    <th>profile_image</th><th>message</th><th>Confirm</th><th>Cancel</th>
  </tr>
<% @trip %>
  <tr>
    <td><%= link_to profile_image_for(@user), @user %></td>
    <td><%= @user.name %></td>
    <td><%= link_to trip_path(@trip), class: "btn ", method: :get do %>
      <i class="fa fa-ticket"></i>
      <% end %>
    </td>
    <td><%= link_to trip_path(@trip), class: "btn ", method: :get do %>
      <i class="fa fa-ticket"></i>
      <% end %>
    </td>
  </tr>
</table>
