<ul class="search-list col-center">
  <li class="col-sm-6 col-lg-3 row-space-4 transition-delay-1000">
    <a href="#" class="darken-on-hover-container panel-image media-photo">
  
      <div class="media-cover darken-on-hover">
        <div class="row row-table row-full-height">

          <div class="col-bottom col-sm-12">
            <div class="car-body">
              <div class="h3 text-center text-contrast strong">
                #Airbnbをシェア
              </div>
              <p class="text-center text-contrast">
                Airbnbコミュニティのみんながシェアした最高の旅、おもてなし、現地体験
              </p>
            </div>
          </div>
          

        </div>


      </div>
    </a>
  </li>
</ul>