<table border="1">
  <tr>
    <th>出発地</th><th>目的地</th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.departure %></td>
    <td><%= trip.destination %></td>
    <td><%= trip.capacity %></td>
  </tr>
<% end %>
</table>