<!-- これ使わない -->
<li>
  <%= profile_image_for(user) %>
  <%= link_to user.name, user %>
  <%= @message.content %>
  <li><%= link_to sending_user_path(current_user.id), id: "logo" do %>
  <i class="fa fa-paper-plane-o"></i>
  <% end %></li>
</li>