<!-- <div class="container howitworks2">
	
	  <div class="row">
	  		
				<div class="col-sm-4">
				<%#= image_tag('items_images/searchtrip2.png', :alt => 'Steve Jobs') %>
				  <h3></h3>
				  <p>
				    Find a best driver for you to trip with.Find a best driver for you to trip with.Find a best driver for you to trip with.
				  </p>
				</div>

				<div class="col-sm-4">
				<%#= image_tag('items_images/apply2.png', :alt => 'Steve Jobs') %>
				  <h3></h3>
				  <p>Apply a trip plan that makes you excited. Find a best driver for you to trip with. Find a best driver for you to trip with.</p>
				</div>
			
				<div class="col-sm-4">
				<%#= image_tag('items_images/meetup2.png', :alt => 'Steve Jobs') %>
				  <h3></h3>
				  <p>Get on a trip with your driver.Find a best driver for you to trip with. Find a best driver for you to trip with.</p>
				</div>
	   </div>
	
</div> -->



<%#= image_tag('/car_images/camp2.png',:class => "img-circle") %>






<!--  <div class="container"> -->
<div id="howitworks">
	  <div class="section howitworks traveler">
		    <div class="container">
			      <div class="row">
			      <h2 class="raleway mgt50">How it works?<span class="side-h3">- Traveler -</span></h2>
			      <ul class="list-inline col-xs-12">
			        <li class="col-xs-12 col-sm-4"><%= image_tag('items_images/searchtrip4.png', :alt => 'Steve Jobs') %><p class="jj">Apply a trip plan that makes you excited. Find a best driver for you to trip with. Find a best driver for you to trip with.</p></li>
			        <li class="col-xs-12 col-sm-4"><%= image_tag('items_images/apply3.png', :alt => 'Steve Jobs') %><p class="jj">Apply a trip plan that makes you excited. Find a best driver for you to trip with. Find a best driver for you to trip with.</p></li>
			        <li class="col-xs-12 col-sm-4"><%= image_tag('items_images/meetup3.png', :alt => 'Steve Jobs') %><p class="jj">Apply a trip plan that makes you excited. Find a best driver for you to trip with. Find a best driver for you to trip with.</p></li>
			      </ul>
			     </div>
		    </div>
	  </div>
	  <br><br><br><br><br><br><br><br>
</div>
<!-- </div> -->
