<div class="header_img">
    <div class="youtube_bg">
        <iframe width="560" height="315" src="//www.youtube.com/embed/lH4lc2JWDNM?rel=0&showinfo=0&autohide=1&autoplay=1&modestbranding=0fs=0&&controls=0&loop=1&vq=hd1080&frameborder=0&playlist=lH4lc2JWDNM" allowfullscreen></iframe>
	</div>
    <p>
        <span class="top_header_catch01">HIKERS</span>
        <span class="top_header_catch02">さあ、旅に出よう。<br />EASY TO GO ANYWHERE</span>
    </p>
</div>





<!-- &modestbranding=0&fs=0&&autohide=1&vq=hd1080 -->