<div class="container">
	<br>
	<h4>ありがとうございます。<br><br>リクエストの却下を受け付けました。リクエストユーザーへとこの内容が送信されます。よろしいですか？</h4><br> <%= link_to '戻る', notification_path, class: "btn6" %>
<%= link_to "ＯＫ", root_path, id: "btn", class: "btn2" %><br><br><br>
		<hr>
</div>