</div>
<%= render 'shared/video_header' %>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="container">
<br><br><br><br>
			<div class="plan col-xs-12 col-sm-6 col-md-4">
	                <a href="../plans/plan_detail_en/38">
	                  <div class="plan-top">
	                  	
	                      <img src="assets/car_images/camp5.png">
	                      <div class="price"><i class="fa fa-usd"></i>20</div>
	                      <div class="sankaku"></div>
						
	                    <div id="ajax_favorite38">
	                      <!-- お気に入りボタン -->
	                      <!-- ログインユーザではないとき -->
	                       <div class="favorite" id="addFavorite">
	                          <a href="/users/login_en">
	                            <div class="add-favorite"><i class="fa fa-heart-o fa-2x"></i></div>
	                          </a>
	                          <span class="favorite-number">1</span>
	                        </div>
	                    </div><!-- ajax_favorite -->

	                    <!--CATEGORY-->
	                    <ul class="category raleway clearfix">
	                      <li class="pull-left EXCITING"></li><li class="pull-left OUTDOOR"></li><li class="pull-left SIGHTSEEING"></li>        </ul>

	                   </div><!--//PLAN TOP-->






	                    <div class="guide-img">
	                      <img src="assets/profile_images/imgres-3.jpg" class="img-circle">
	                    </div>

	                    <div class="guide-name">Fon</div>
	                    <div class="contents clearfix">


	                      <p class="title">temple of HELL !?!?</p>
	                      <p class="place pull-left">
	                        <i class="fa fa-map-marker"></i>
	                        Bangkok            </p>

	                        <p class="language pull-left">
	                          <i class="fa fa-comments"></i>
	                          Japanese English           </p>
	                        <!-- </div> --><!--//Contents-->
	                     </a>
	                 </div>
	             </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div><!--//PLAN-->
		</div>

















<!-- <div class="container">
	  
  <div class="row">
		<div class="col-sm-4">
		  <h3>SEARCH TRIPS</h3>
		  <p>
		    Find a best driver for you to trip with.
		  </p>
		</div>
		<div class="col-sm-4">
		  <h3>APPLY</h3>
		  <p>Apply a trip plan that makes you excited. </p>
		</div>
		<div class="col-sm-4">
		  <h3>GO TRIP!!</h3>
		  <p>Get on a trip with your driver.</p>
		</div>
   </div>
</div> -->

<%= render 'shared/main_content' %>





































<!-- <div class="search-area">
<#% if signed_in? %>
	<div class="center">
		<h1 class="welcome">WELCOME TO HIKERS.</h1>
		<%#= render 'layouts/search' %> 
	</div>
<#% else %>
	<div class="center">
		<h1 class="welcome">WELCOME TO HIKERS.</h1>
		<%#= render 'layouts/search' %>
	</div>
<#% end %>
</div> -->


<!-- <a class="btn btn-block btn-social btn-twitter">
    <i class="fa fa-twitter"></i> Sign in with Twitter
</a> -->

<!-- <li><%#= link_to user_omniauth_authorize_path(:facebook), id: "logo", class: "btn btn-block btn-social btn-facebook" do %> -->
            <!-- <i class="fa fa-facebook">Sign in with Facebook</i>
            <#% end %></li>
 -->

<%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

