#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}

#contents{
     padding-bottom:140px; /*フッターの高さと同じ*/
}

#footer{
    height:140px;
     
     bottom:0;
}

