
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="#">HIKERS</a>
        <p>Easy to go anywhere.</p>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h4>Discover</h4>
        <p>Trust & Safety</p>
        <p>Invite Friends </p>
        <p>Mobile</p>
        <p>Support NYC</p>
        <p>Business Travel</p>
        <p>Site Map</p>
      </div>
      <div class="col-md-2">
        <h4>SUPPORT</h4>
        <p>Contact</p>
        <p>FAQ</p>
        <p>Terms of Use</p>
        <p>Privacy Policy</p>
      </div>
    </div>
     <hr>
    <p>&copy; 2014 HIKERS. Inc</p>
    </div>
  <!-- End Footer -->
</div>













<!-- <footer class="footer container2">
  <small>
    <a href="#">about HIKERS</a>
    by HIKERS
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   '#' %></li>
      <li><%#= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
 -->